/*-------- bold text ------*/
    b {
        font-weight: bold;
    }


/*---------- Mobile View ---------*/
body{
    font-family: 'Open Sans', sans-serif;
    background: url(assets/bckgrnd.png);
    background-repeat: repeat;
    color: #333;
}

    /*------- Links --------*/
    a {
        font-weight: bold;
        text-decoration: none;
    }
    .gallery a {
        color: #000;
        position: relative;
        left: 160px;
        bottom: 35px;
    }

    /*------ Top Container mobile -------*/
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 98vh;   
    }

    nav {
        display: flex;
        justify-content: center;
        margin: 40px 0 25px 0;
    }

    nav ul {
        margin-left: 30px;
    }

    nav ul a {
        margin-right: 30px;
    }

    /*-------- Information about me mobile -------*/
    .upper{
        margin: 30px;
    }

    .upper h1, h2 {
        font-family: Montserrat;
    }

    .upper h1 {
        font-size: 1.7em;
        margin-bottom: 10px;
    }

    .upper h2 {
        font-weight: 700;
        font-size: 1.3em;  
        margin-bottom: 20px;
    }

    /*------- profile picture mobile -------*/
    .profilepic {
        margin: 40px 0;
        justify-self: center;
        border: 3px solid #2c5fa8;
        background-color: rgba(150, 150, 150, 1);
        border-radius: 50%;
        height: 110px;
        width: 110px;
    }

    .upper p {
        color: #666;
        line-height: 1.2;
        font-weight: 100;
        font-size: 1em;
        width: 350px;
    }

    /*------ Lower container mobile -------*/
    .lower {
        background-color: rgba(150, 150, 150, .6);
        color: #fff;
        padding: 20px 0 15px 0;  
    }

    /*---- gallery title mobile ------*/
    .gallery-header h5 {
        margin: 5px 0 25px 35px;
        font-size: 1.3em;
        font-weight: 100;
    }

    /*-------- My work gallery mobile -------*/
    .gallery {
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(1fr, 3);
        border-top: 2px solid #fff;
    }

    .box {
        color:#000;
        font-family: Montserrat;
        height: 180px;
        margin: 20px 40px;
        width: 325px;
    }
    
    /*------- items inside gallery boxes mobile -------*/
    .layer {
        background-color: rgba(150, 150, 150, .7);
        font-size: 1.125em;
        height: 100%;
        width: 100%;
    }

    .inner-text {
        padding: 20px;
        width: 250px;
    }

    .inner-text h1 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .inner-text a:nth-child(3) {  
        position: absolute;
        right: 50px;
        margin-top: 64px;
        text-decoration: none;
        color: #000;
    }

    /*------ Gallery background images mobile -------*/
    .yelp-clone {
        background-image: url(./assets/yelpscreen.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .lister {
        background-image: url(https://placeimg.com/350/200/people);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .musicjams {
        background-image: url(https://placeimg.com/350/200/animals);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*------- footer mobile -------*/

    footer {
        background-color: rgba(150, 150, 150, .6);
        border-top: 2px solid #fff;
        color: #fff;
        font-size: .7em;
        text-align: center;
    }

    footer p {
        padding: 25px 90px;
        line-height: 1.1;
    }

    footer p span {
        color: red;
    }

/*----------- DESKTOP SITE ------------*/

    @media only screen and (min-width: 680px) {

        /*------ Top Container DESKTOP -------*/
        main {
            grid-template-rows: 1fr 1fr .1px;
        }

        nav {
            grid-row: 1 / 2;
            justify-content: left;
        }

        nav ul {
            justify-content: left;
            margin: 15px 0 40px 80px;
        }

        nav ul a:hover {
            border-bottom: 2px solid #2c5fa8;
        }

        /*------ Top Container DESKTOP -------*/
        .upper {
            grid-row: 2 / 3;
            margin: 15px 0 40px 80px;
        }

        /*------- profile picture DESKTOP -------*/
        .profilepic {
            justify-self: right;
            position: relative;
            right: 80px;  
            bottom: 145px;  
            height: 150px;
            width: 150px;
        }

        /*---- gallery title DESKTOP ------*/
        .gallery-header h5 {
            margin-left: 80px;
        }

        /*------ Lower container DESKTOP -------*/
        .lower {
            padding: 20px 0 80px 0;
        }

        /*-------- My work gallery DESKTOP -------*/
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            padding: 20px 0 150px 0;
            margin: 0 80px;
        }

        .gallery a {
            left: 200px;
        }

        /*------- items inside gallery boxes DESKTOP -------*/
        .inner-text a:nth-child(3) {
            position: relative;
            right: 0;
            margin-top: 0px;
        }

        .box {

            height: 225px;
            width: 375px;
        }

         /*------- footer DESKTOP-------*/

        footer {
            border: none;
            font-size: 1em;
        }

        footer p {
            border-top: 2px solid #fff;
            padding: 8px 0;
            margin: 0 80px;
        }
    }